@import 'tailwindcss';

/* ───────── 1) 디자인 토큰 (@theme) ───────── */
@theme {
  /* 그랩피티 */
  --color-grabpt: #003efb;
  /* 폰트 패밀리 변수 */
  --font-sans: 'Pretendard Variable', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  --font-inter: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --font-roboto: 'Roboto', 'sans-serif';

  /* 접두사 (Prefix),최소 너비 (min-width),설명 및 주요 디바이스
  sm,640px,대형 스마트폰 가로 모드 / 작은 태블릿
  md,768px,태블릿 (아이패드 세로 모드 기준점)
  lg,1024px,노트북 / 작은 데스크탑 (아이패드 가로)
  xl,1280px,일반적인 데스크탑 모니터
  2xl,1536px,대형 모니터 */

  /* 브레이크 포인트 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1820px;

  /* 사이즈 */
  --max-width-8xl: 1440px;
  --max-width-9xl: 1620px;

  /* 1-3. 스페이싱 시스템 (섹션 간격 통일) */
  /* 각 페이지별로 상단하단 패딩에 사용해주세요
  pt-section-sm pb-section-mb 식으로 작성 */
  --spacing-section-sm: 40px; /* 좁은 간격 */
  --spacing-section-md: 80px; /* 기본 간격 */
  --spacing-section-lg: 128px; /* 넓은 간격 */

  /* Button Scale */
  --color-button: #003efb;
  --color-button-hover: #1537d9;
  --color-button-pressed: #1231c1;
  --color-button-nonSelected: #e6ecff;
  --color-button-nonSelected-hover: #d9e2fe;

  /* White Scale */
  --color-white: #ffffff;
  --color-white-normal-hover: #e6e6e6;
  --color-white-normal-active: #cccccc;
  --color-white-dark: #bfbfbf;
  --color-white-dark-hover: #999999;
  --color-white-dark-active: #737373;
  --color-white-darker: #595959;
}

/* ───────── 2) 전역 렌더링·안티앨리어싱 ───────── */
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ───────── 3) 기본 글꼴 (Base 레이어) ───────── */
@layer base {
  html {
    font-family: var(--font-sans);
  }
}

/* 각 페이지별 좌우여백. 전체페이지를 덮는 div 하위에서 사용하셔야 가운데정렬 됩니다 */
@layer utilities {
  .layout-container {
    @apply max-w-8xl mx-auto px-4 lg:px-10;
  }

  .layout-sm-container {
    @apply mx-auto max-w-6xl px-4 lg:px-10;
  }
}

/* 스크롤바 숨김 유틸리티 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 및 Edge */
  /* scrollbar-width: none; Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* 숫자 입력창 스피너 제거 유틸리티(온보딩에서 numer type 화살표 안보이게 사용) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
}

@theme {
  --animate-shake: shake 0.1s ease-in-out;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-3px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(3px);
    }
  }
}
